body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #12000d;
    background-color: #800e0e;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a40e22;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #fefefe;
    font-size: 20px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #000000;
}

header {
    background: linear-gradient(135deg, #d62a2a, #8b0d0d,#cc0505);
    color: rgb(246, 241, 244);
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    margin-top: 5px;
}

.contact-links {
    margin-top: 10px;
}

.contact-links a {
    color: #fdfbfb;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.95rem;
}

.contact-links a:hover {
    color: #000000;
}


main {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

section {
    background: #ced2b2;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 12px;
}

.side-left {
    text-align: left;
}


h2 {
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 20px;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: #ff6b6b;
    left: 0;
    bottom: -8px;
    transition: width 0.3s ease;
}

h2:hover::after {
    width: 120px;
}

.education,
.project {
    margin-bottom: 15px;
}

.education h3,
.project h3 {
    color: #cc0505;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding-left: 18px;
    position: relative;
    margin-bottom: 6px;
}

ul li::before {
    content: "•";
    color: #ff6b6b;
    position: absolute;
    left: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #9a0f11;
    font-size: 0.9rem;
}

.languages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.lang {
    text-align: center;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    position: relative;
}

.circle::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    background: #630404;
    border-radius: 50%;
}

.circle span {
    position: relative;
}

.lang:nth-child(1) .circle {
    background: conic-gradient(#d4600d 95%, #444 0);
}

.lang:nth-child(2) .circle {
    background: conic-gradient(#d4600d 70%, #444 0);
}

.lang:nth-child(3) .circle {
    background: conic-gradient(#d4600d 100%, #444 0);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    main {
        padding: 20px;
    }

    section {
        padding: 20px;
    }
}
